@media screen and (max-width: 1024px) {
    .header__nav {
        position: fixed;
        inset: 90px 5px 5px;
        flex-direction: column;
        padding: 15px;
        background-color: #363A4D;
        .btn {
            justify-content: center;
        }
    }
    .header__nav-list {
        flex-direction: column;
        margin-bottom: 48px;
    }
    .header__nav-item-link {
        font-size: 24px;
        line-height: 222%;
    }
}
    
    
    