@media (min-width: 1025px) {
   .btn-burger {
       display: none;
   }
   .header__nav {
       display: flex;
    }
    .banner {
        .slick-slide {
            border-radius: 20px;
                }    
    }
}
