.header {
    padding: 25px 0 39px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-width: 172px;
        width: 100%;
        img {
            max-height: 60px;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        display: none;
        &.show {
            display: flex;
        }
       
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 622px;
            width: 100%;
            margin: 4px auto 0;
            padding: 0;
        }

        &-item-link {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: $color-primary;
            }
        }
      
    }
    .btn {
        padding: 13px 22px;
    }
}

.btn-burger {
    padding: 19px;
    border: 1px solid red;
    background: url(assets/img/icon-burger.svg) center no-repeat;

    &.open {
        background: url(assets/img/icon-burger-close.svg) center no-repeat;
    }
}
