<form class="calculation-form">
<div class="input-row">
    <div class="input-column">
        <div class="input-box">
            <label for="123">Label</label>
            <input type="text">
        </div>
        <div class="input-box">
            <label for="123">Label</label>
            <input type="text">
        </div>
    </div>
    <div class="input-column">
        <div class="input-box">
            <label for="123">Label</label>
            <input type="text">
        </div>
        <div class="input-box">
            <label for="123">Label</label>
            <input type="text">
        </div>
    </div>
    <div class="input-row">
        <div class="input-column">
            <div class="input-box">
                <label for="123">Label</label>
                <input type="checkbox">
            </div>
            <div class="input-box">
                <label for="123">Label</label>
                <input type="checkbox">
            </div>
        </div>
        <div class="input-column">
            <div class="input-box">
                <label for="123">Label</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="input-row">
        <div class="input-column">
            <div class="input-box">
                <label for="123">Label</label>
                <input type="file">
            </div>
        </div>
    </div>
    <div class="input-row">
        <div class="input-column">
            <button type="button" class="btn btn-primary btn-lg">
                Следующий шаг<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
            </button>
        </div>
    </div>
</div>
</form>







