<header class="header">
    <div class="container">
        <a href="/" class="header__logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        </a>
        <nav class="header__nav">
           <ul class="header__nav-list">
            <li class="header__nav-item"><a href="#" class="header__nav-item-link">Цены и сроки</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-item-link">Услуги</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-item-link">О компании</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-item-link">Контакты</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-item-link">Оформить груз</a></li>
           </ul>
           <button class="btn btn-primary">Оставить заявку</button>
        </nav>
        <button class="btn-burger">burger</button>
    </div>
</header>

